.dashboard-tournament-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #151928;
    border-radius: 5px;
    transition-duration: 0.3s;
}

/* .games-card:hover {
    box-shadow: rgba(241, 241, 241, 0.35) 0px 2px 8px, rgba(241, 241, 241, 0.35) 0px 4px 8px;
    transform: scaleX(1.01) scaleY(1.01);
} */

.dashboard-tournament-card img {
    height: 250px;
}

.dashboard-tournament-card h3 {
    font-size: 22px;
    color: white;
    text-align: center;
    margin-block: 15px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: white;
}

.card-button {
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.card-button a {
    font-size: 18px;
    background-color: rgb(19, 170, 230);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

.card-button button {
    font-size: 18px;
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
}

.card-button a:hover {
    cursor: pointer;
    background-color: rgb(16, 147, 199);
    
}

.card-button button:hover {
    cursor: pointer;
    background-color: rgb(211, 11, 11);
    
}